<h1>
  Edit enrollment #<%= @enrollment.id %>
</h1>

<hr>

<form action="/update_enrollment/<%= @enrollment.id %>" method="post">

  <div class="form-group">
    <label for="course_id">
      Course
    </label>

    <input type="text" id="course_id" name="course_id" class="form-control" value="<%= @enrollment.course_id %>">
  </div>

  <div class="form-group">
    <label for="student_id">
      Student
    </label>

    <input type="text" id="student_id" name="student_id" class="form-control" value="<%= @enrollment.student_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update enrollment
  </button>
</form>

<hr>

<a href="/enrollments">
  Go back
</a>
