<!-- Validation failure messages -->
<% if @course.present? %>
  <% if @course.errors.any? %>
    <% @course.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new course
</h1>

<hr>

<form action="/create_course" method="post">
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @course.try(:title) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create course
  </button>
</form>

<hr>

<a href="/courses">
  Go back
</a>
